<!doctype html>
<html lang="ko">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0">
   <meta name="description" content="Oyee Family Gallery">
   <link rel="stylesheet" href="/css/home.css">
   <link rel="stylesheet" href="/css/lightbox.css">
   <script src="/js/lightbox-plus-jquery.js" ></script>
   <title>OyeeFamilyGallery</title>
</head>

<body>

   <section id="header">
      <div class="container">
         <img src="/img/paw-solid.svg" class="logo" alt="">
         <div class="header-text">
         <h1>YStory52<br>오이가족 Gallery</h1>
         <span class="square"></span>
         <h3>아빠: 오창호, 엄마: 이양희<br>형아: 오윤식, 누나: 오윤서<br>막내: 오이</h3>
         <!-- <a href="https://ystory52.com"><button class="common-btn">LOG OUT</button></a> -->
         <a href="/logout"><button class="common-btn">LOG OUT</button></a>
         <div class="line">
            <span class="line-1"></span><br>
            <span class="line-2"></span><br>
            <span class="line-3"></span>
         </div>
         </div>
      </div>
      <nav id="sideNav">
         <ul>
            <li><a href="/home">오이가족</a></li>
            <li><a href="/home/dad">아빠: 오창호</a></li>
            <li><a href="/home/mom">엄마: 이양희</a></li>
            <li><a href="/home/brother">형아: 오윤식</a></li>
            <li><a href="/home/sister">누나: 오윤서</a></li>
            <li><a href="/home/oyee">막내: 오이</a></li>
         </ul>
      </nav>
      <img src="/img/menu.png" id="menuBtn" alt="">
   </section>

   <section id="gallery">
      <div class="container">
         <% for(var i=0; i < fileName.length; i++) {
            var header = fileName[i].split('.');
            var imgDate = header[0].substr(0,4)+'년 '+header[0].substr(4,2)+'월 '+header[0].substr(6,2)+'일'; %>
         <a href="/<%=directory%>/<%=fileName[i]%>" data-lightbox="mygallery" data-title="<%=imgDate%>">
            <img src="/<%=directory%>/<%=fileName[i]%>" alt=""><%=imgDate%></a>
         <% }; %>
      </div>
   </section>

   <section id="footer">
      <img src="/img/footer.png" alt="">
   </section>

   <script>

      var menuBtn = document.getElementById("menuBtn");
      var sideNav = document.getElementById("sideNav");
      sideNav.style.right = "-250px";
      menuBtn.onclick = function() {
         if(sideNav.style.right == "-250px") {
         sideNav.style.right = "0px"        
         } else {
         sideNav.style.right = "-250px"
         }
      }
      var scroll = new SmoothScroll('a[href*="#"]', {
         speed: 1000,
         speedAsDuration: true
      });

   </script>

</body>
</html>